body {
    background-color: black;
    background-image: url("/images/zueria.webp");
}

h1 {
    color: black;
    text-align: center;
    animation: uno 1.9s infinite ease-out;
}

@keyframes uno {
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}

h2 {
    background: rgba(211, 211, 211, 0.8);
    color: black;
}

canvas {
    width: 550px;
    height: 400px;
}

#titulo {
    width: 500px;
    height: 40px;
    text-align: center;
}

#logo {
    color: black;
}

#resultado {
    position: static;
    float: right;
}

#imagem {
    width: 500px;
    height: 50px;
    text-align: center;
}

#down {
    width: 500px;
    height: 40px;
    text-align: center;
}

#gerar {
    text-align: center;
    width: 100px;
    height: 50px;
    color: black;
    border-radius: 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background: rgb(240, 91, 91);
}

#seta {
    width: 20px;
    height: 20px;
}

.numero {
    border-radius: 40px;
    background-color: white;
    text-align: center;
    color: black;
    width: 200px;
}

#fabrica {
    background: rgba(211, 211, 211, 0.8);
    position: absolute;
    text-align: center;
}

.texto_user {
    border-radius: 40px;
}

#imgbtt {
    width: 20px;
    height: 20px;
}